.cut { 
	fill-rule:evenodd;
    fill-opacity:1;
	fill: slategrey;
	stroke: black;
	stroke-width: .25;
}

.prj {
	fill: none;
	stroke: black;
	stroke-width: .13;
}

.xray, .hid, .bak { 
	fill: none;
	stroke: dimgray;
	stroke-width: .13;
	stroke-dasharray: 2 .75;
	mix-blend-mode: multiply;
}

.sym { 
	fill: none;
	stroke: dimgray;
	stroke-width: .09;
}

.sym .cut_line, .CUT_LINE {
	stroke: dimgray;
	stroke-width: .25;
	stroke-dasharray: 2.5 1.25 .1 1.25;
	stroke-linecap: round;
	mix-blend-mode: multiply;
}
